.header{
    border: solid red 2px;
    height: 3rem;
}

.container{
    border: solid red 2px;
    height: 40rem;
    width: 62rem;
    margin: 2rem auto;
}



.cover h1{
    font-size:6rem;
    margin: auto;
}
.cover span{
    display: block;
}

.projects{
    border-radius: 20px;
    border: solid 2px red;
    height: 3rem;
}

.skills{
    border: solid red 2px;
    height: 3rem;
}

.education{
    border: solid red 2px;
    height: 3rem;
}

.about{
    border: solid red 2px;
    height: 3rem;
}

.footer{
    border: solid red 2px;
    height: 5rem;
}